@media (min-width: 720px) {
  .container {
    max-width: 720px;
  }

  .img-fluid{
    max-height: 500px;
  }

  #landing {
    max-width: 1000px;
  }
}

#navMainElement:hover {
  /* background-color: #CEE8FF; */
  color: #aaaaaa;
}

#navbarDropdown:hover {
  /* background-color: #CEE8FF; */
  color: #aaaaaa;
}

#navDropdownElement:hover {
  /* background-color: #aaaaaa; */
  color: #aaaaaa;
}

#HTMAA:hover {
  color: #aaaaaa;
}

/* #GS:hover {
  color: #aaaaaa;
} */

#navDropdownFinal:hover {
  /* background-color: #aaaaaa; */
  color: #aaaaaa;
}

#link:hover {
  /* background-color: #FF0000; */
  color: #aaaaaa;
  text-decoration: none;
}

#link {
  /* background-color: #FFFF00; */
  color: #aaaaaa;
  text-decoration: none;
}

#gridlink {
  color: #000000;
  text-decoration: none;
}

.figure {
  font-style: italic;
  color: #aaaaaa;
}

p {
  font-family: 'Karla', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Karla', sans-serif;
}

body {
  padding-top: 10vh;
  font-family: 'Karla', sans-serif;
}

pre code {
  display: block;
  font-size: 87.5%;
  color: #212529;
  background-color: #eee;
  display: block;
  padding: 10%;
  overflow: none;
}

.carousel-inner > .item > img, .carousel-inner > .item > a > img {
    width: 50%;
}

.carousel-indicators-numbers li {
  text-indent: 0;
  margin: 0 5px;
  width: 10px;
  height: 10px;
  border: none;
  border-radius: 100%;
  line-height: 30px;
  color: #000;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  height: 20px;
  width: 20px;
  outline: black;
  border-radius: 50%;
}

.carousel-control-next-icon:after
{
  content: '>';
  font-size: 30px;
  color: grey;
}

.carousel-control-prev-icon:after {
  content: '<';
  font-size: 30px;
  color: grey;
}
